@import '../../../styles/fonts';
@import '../../../styles/colors';


.navbar {
    width: 100%;
    position: absolute !important;
    top: 10px;
    left: 0;
    z-index: 999;
    
    .logo{
        font-family: $sec-font !important;
        font-weight: 700 !important;
        cursor: pointer;
        color: white !important;
        .special {
            color: $pri-color;
        }
        &:hover {
            color: $sec-color !important;
        }
    }

    .nav-link {
        margin: 0 10px !important;
        font-family: $sec-font !important;
        font-weight: 400 !important;
        color: white !important;
    }
}