@import '../../../styles/fonts';
@import '../../../styles/colors';

.footer {
    background-color: #171426;
    color: white;
    padding: 50px 0;

    .footer-title{
        font-family: $sec-font;
        font-weight: 600;
    }

    .logo{
        color: white;
        font-size: 30px;
        
        &:hover {
            color: white;
        }
    }

    ul{
        li{
            list-style: none;
            margin-bottom: 10px;
            text-transform: capitalize;

            a{
                color: white;
                transition: all linear 0.4s;

                &:hover{
                    text-decoration: none;
                    color: rgb(192, 192, 192);
                }
            }

            .footer-icon{
                font-size: 20px;
            }
        }
    }
}